body {
  background-color: bisque;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

p {
  font-size: 5vw;
}

.button {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.button:hover {
	background-color:#ccc2a6;
}
.button:active {
	position:relative;
	top:1px;
}
